p {
  color: blue;
}

button {
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #0056b3;
}
button:disabled {
  background-color: #A9A9A9;
  color: #999;
  cursor: not-allowed;
}
