<div>
  <!-- <p>test works!</p>
  <p>{{ title }}</p> -->
<!--
  <p>{{ getFullName() }}</p>

  <p [ngStyle]="{color: 'red'}">Тут використано ngStyle</p>
  <p [ngClass]="{'active': isActive, 'disabled': isDisabled}">Тут використано ngClass</p>

 <button [disabled]="!isEnabled">Click Me</button>

  <div class="event-example" [ngClass]="{'clicked': isClickedState}"> </div>

  <button (click)="toggleState()">Перемкни стейт</button> -->

    <!-- <input type="text" [(ngModel)] = "inputText" />
    <p>{{ inputText }}</p> -->

    <!-- <p>{{ childMassage }}</p>

    <button (click)="sendMessageToParent()">Відправити повідомлення батьку</button> -->


    <!-- <p appHighlight [highlightColor] = "'blue'">Наведи на мене курсор, щоб підсвітити мене!</p> -->

    <!-- <p *ngIf="isClickedState; else notClickedState">Кнопка була натиснута  </p>
    <ng-template #notClickedState>
      <p>Кнопка не була натиснута</p>
    </ng-template>
    <button (click)="toggleState()">Перемкни стейт</button> -->

  <!-- <ul *ngFor="let user of users; index as i">
    <li>{{ i + 1 }}: {{ user }}</li>
  </ul> -->

  <!-- <div [ngSwitch]="appState">
    <p *ngSwitchCase="'active'">Додаток активний</p>
    <p *ngSwitchCase="'pending'">Додаток в очікуванні</p>
    <p *ngSwitchCase="'inactive'">Додаток неактивний</p>
    <p *ngSwitchDefault>Статус додатку невідомий</p>
  </div> -->

  <!-- @if(isClickedState) {
    <p>Кнопка була натиснута</p>
  }
  @else {
    <p>Кнопка не була натиснута</p>
  }
  <button (click)="toggleState()">Перемкни стейт</button> -->

  <!-- @for (user of users; track user; let i = $index) {
    <li>{{ i + 1 }}: {{ user }}</li>
  }
  @empty {
    <p>Список користувачів порожній</p>
  } -->

    <!-- @for (Item of Items; track Item.id; let i = $index, e = $even, o = $odd) {
    <li>{{ i + 1 }}: {{ Item.name }}</li>
  }
  @empty {
    <p>Список фруктів порожній</p>
  }

@switch (appState) {
  @case ('active') {
    <p>Додаток активний</p>
  }
  @case ('pending') {
    <p>Додаток в очікуванні</p>
  }
  @case ('inactive') {
    <p>Додаток неактивний</p>
  }
  @default {
    <p>Статус додатку невідомий</p>
  }
} -->

<p>{{ today | date: "shortDate" }}</p>

<p>{{"hello word" | uppercase}}</p>

<p>{{"HELLO WORD" | lowercase}}</p>

<p>{{ price | currency: "USD": "symbol":"1.2-2" }}</p>

<p>{{1234.56789 | number: "1.0-0"}}</p>

<p>{{0.5 | percent}}</p>

<p>{{"HELLO WORD" | slice: 1 : 5}}</p>

<p>{{{name: "John", age: 30} | json}}</p>

</div>
