<div>
  <p>test works!</p>
  <p>{{ title }}</p>
<!--
  <p>{{ getFullName() }}</p>

  <p [ngStyle]="{color: 'red'}">Тут використано ngStyle</p>
  <p [ngClass]="{'active': isActive, 'disabled': isDisabled}">Тут використано ngClass</p>

 <button [disabled]="!isEnabled">Click Me</button>

  <div class="event-example" [ngClass]="{'clicked': isClickedState}"> </div>

  <button (click)="toggleState()">Перемкни стейт</button> -->

    <!-- <input type="text" [(ngModel)] = "inputText" />
    <p>{{ inputText }}</p> -->

    <!-- <p>{{ childMassage }}</p>

    <button (click)="sendMessageToParent()">Відправити повідомлення батьку</button> -->


    <!-- <p appHighlight [highlightColor] = "'blue'">Наведи на мене курсор, щоб підсвітити мене!</p> -->

    <!-- <p *ngIf="isClickedState; else notClickedState">Кнопка була натиснута  </p>
    <ng-template #notClickedState>
      <p>Кнопка не була натиснута</p>
    </ng-template>
    <button (click)="toggleState()">Перемкни стейт</button> -->

  <!-- <ul *ngFor="let user of users; index as i">
    <li>{{ i + 1 }}: {{ user }}</li>
  </ul> -->

  <div [ngSwitch]="appState">
    <p *ngSwitchCase="'active'">Додаток активний</p>
    <p *ngSwitchCase="'pending'">Додаток в очікуванні</p>
    <p *ngSwitchCase="'inactive'">Додаток неактивний</p>
    <p *ngSwitchDefault>Статус додатку невідомий</p>
  </div>
</div>
